body {
    display: flex;
    height: 960px;
    flex-wrap: wrap;
    --theme: #E8F5E9
}
svg {
    width: 20%;
    height: 100%;
}
span {
    font-size: x-large;
    font-weight: 800;
}
.bg_logo {
    flex: 2 0 200px;
    overflow: hidden;
    background-image: url('bg-phot.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
}
.form_container {
    flex: 3 0 300px;
    display: flex;
    
    align-items: center;
    flex-direction: column;
    font-size: large;
    font-family: monospace, 'Times New Roman', Times, serif;
    border-radius: 20px;
    border: 2px solid var(--theme);
    overflow: hidden;
    margin-left: 10px;
}

.log {
    background-color: rgb(252, 252, 252);
    display: flex;
    opacity: 50%;
    justify-content: center ;
    align-items: center;
    gap: 30px;
    width: 100%
}

.form_container > * {
    flex: 1;
    width: 100%;
    background-color: var(--theme);
}
.form_info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 2;
}
.form_info  > svg {
    width: 100px;
}
.form_info>p {
    padding: 30px;
    line-height: 1.6em;
    width: 70%;
}
.submit > * {
    padding: 0px;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 200px;
    

}
.form_cont {
    background-color: #f1f8e91f;
    flex: 2;
}
form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
form > * {
    
    display: flex;
    justify-content: space-around;
    height: 30%;
    flex-wrap: wrap;
    gap: 20px;
}

input {
    border: 2px solid rgb(139, 130, 130);
    border-radius: 5px;
    height: 40%;
    margin-top: 10px;
    width: 200px;
}

button {
    padding: 10px;
    border: 3px solid;
    border-radius: 5px;
    width: 150px;
    height: 15%;
    background-color: white;
    
}

button:hover {
    
    background-color: var(--theme);
    border-color: blue;
    
}

input:invalid {
    border-color: red;
}

.submit {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.form_container > svg {
    width: 15%;
}

#required_field {
padding: 0px;
padding-left: 20px;
margin: 10px;
font-size: small;
height: 10%;
align-self: flex-start;
}



@media only screen and (max-width: 450px) {
    body {
      min-height: 1800px;
    }
  }

input[type='tel']:invalid ~ span::before{
    position: absolute;
    top: 5px;
    left: 80px;
    font-size: xx-small;
    content: 'Format: 123-456-7890';
    color: rgb(192, 51, 51);
}

.contact > label {
    position: relative;
}

#confirmation {
    font-size: x-small;
    position: absolute;
    top: 45px;
    left: 227px;
}

#conf_password {
    position: relative;
}